body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.container{
    width: 400px;
}


#progress .times, .card-footer, .volume-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#volume,.list-group li{
    cursor: pointer;
}

.list-group li:hover{
    background-color: lightgrey;
}

.list-group li.playing{
    background-color: #93b3e4;
    color: whitesmoke;
}



